# META ADS API
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
META_API_VERSION=v19.0

# GOOGLE ADS API
GOOGLE_DEVELOPER_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CUSTOMER_ID=

PORT=3001
